/* This file has styles that address some conflicts
   that relate to the new grid. These should be
   removed at the appropriate time. */

.sba-l-container {
  .section-block {
    height: auto; // Address activity log getting cut off in new grid
  }

  .usa-font-lead {
    font-family: $font-sans;
    font-weight: 300;
    font-size: 2.2rem;
  }
}

// Eliminates fixed height and margin that comes from the US Web Design Standards
.sba-c-button {
  height: auto;
  margin: 0;
}

// This needs override selector '.public li:first-child {padding: 0} that is coming from the certify app'
.sba-c-timeline .sba-c-timeline__list__item,
.sba-c-timeline .sba-c-timeline__list__item:first-child,
.sba-c-timeline .sba-c-timeline__list__item--current,
.sba-c-timeline .sba-c-timeline__list__item--current:first-child {
  padding: 1rem 3rem;
}

// Overrides need for combo box to override properties from the jQuery UI css
.sba-c-combobox__toggle {
  border-radius: 0;
  margin: 0;
}

.sba-c-combobox__input {
  border: 1px solid $color-gray;
  border-radius: 0;
  background: #fff;
  font-weight: normal;
  color: $color-base;
  font-family: $font-sans;
}

.sba-c-autosuggest {
  font-family: $font-sans;

  .ui-menu-item,
  .ui-menu-item:first-child {
    padding: $multiple;
    margin: 0;

    &:hover,
    &.ui-state-focus {
      background-color:  $color-primary-alt-lightest;
      border: none;
      font-weight: normal;
      color: $color-base;
    }
  }
}
