/* This file has styles that address some conflicts
   that relate to the new grid. These should be
   removed at the appropriate time. */

.sba-l-container {
  .section-block {
    height: auto; // Address activity log getting cut off in new grid
  }

  .usa-font-lead {
    font-family: $font-sans;
    font-weight: 300;
    font-size: 2.2rem;
  }
}

// Eliminates fixed height and margin that comes from the US Web Design Standards
.sba-c-button {
  height: auto;
  margin: 0;
}

// This needs override selector '.public li:first-child {padding: 0} that is coming from the certify app'
.sba-c-timeline .sba-c-timeline__list__item,
.sba-c-timeline .sba-c-timeline__list__item:first-child,
.sba-c-timeline .sba-c-timeline__list__item--current,
.sba-c-timeline .sba-c-timeline__list__item--current:first-child {
  padding: 1rem 3rem;
}

// Overrides need for combo box to override properties from the jQuery UI css
.sba-c-combobox__toggle {
  border-radius: 0;
  margin: 0;
}

.sba-c-combobox__input {
  border: 1px solid $color-gray;
  border-radius: 0;
  background: #fff;
  font-weight: normal;
  color: $color-base;
  font-family: $font-sans;
}

.sba-c-autosuggest {
  font-family: $font-sans;

  .ui-menu-item,
  .ui-menu-item:first-child {
    padding: $multiple;
    margin: 0;

    &:hover,
    &.ui-state-focus {
      background-color:  $color-primary-alt-lightest;
      background-image: none;
      border: none;
      font-weight: normal;
      color: $color-base;
    }
  }
}

// Calendar picker
.sba-c-calendar-picker .ui-datepicker-header {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  background: $color-gray-lightest;
  border: none;
  border-bottom: 1px solid white;
}

.sba-c-calendar-picker .ui-datepicker-header .ui-state-hover {
  border: none;
  background: none;
}

.sba-c-calendar-picker .ui-datepicker-title {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

.sba-c-calendar-picker .ui-datepicker-month {
  font-size: 14px;
}

.sba-c-calendar-picker select.ui-datepicker-year {
  min-width: 86px;
  font-size: 14px;
}

.sba-c-calendar-picker .ui-datepicker-prev,
.sba-c-calendar-picker .ui-datepicker-next {
  cursor: pointer;
  top: 50%;
  margin-top: -.9em;
}

.sba-c-calendar-picker .ui-state-default {
  background: none;
  border: none;
  color: $color-base;
  font-size: 14px;
  padding: 10px;
  text-align: center;

  &:hover {
    background: $color-gray-lightest;
    color: $color-primary-alt-darkest;
    text-decoration: underline;
  }
}

.sba-c-calendar-picker .ui-state-highlight {
  background: $color-primary-alt-lightest;
  border-color: $color-primary-alt-light;
}

.sba-c-calendar-picker.ui-datepicker td {
  padding: 0;
  border: 1px solid $color-gray-lighter;
}

.sba-c-calendar-picker.ui-datepicker th {
  font-size: 14px;
}
