<div class="test-container">
  <%= image_tag('fonts.png', :size => "80x30") %>
  <h1 class="test-centered">
    SSSS  
  </h1>
</div>
<style>
.test-container {
    position: relative;
    text-align: center;
    color: white;
}
.test-centered {
    position: absolute;
    top: -19%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>