<div>
  Dummy Rails Test
</div>
<div class="sba-u-bgcolor--primary">
  Blue Primary	
</div>
<div class="sba-u-bgcolor--secondary" >
  Red Secondary	
</div>
<div id="test-blue">
  Blue Text Test
</div>
<div>
Font Test:
</div>
<h1>
  SSSS 
  <%= image_tag('fonts.png', :size => "85x35") %>
</h1>
<div>
  test-svg: archive: 
  <svg aria-hidden="true" class="sba-c-icon sba-c-icon--gold">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=<%= "#{image_path('svg-sprite/sprite.svg')}#archive" %> > </use>
  </svg>
</div> 
<%= image_tag('certify-sba-gov-logo_on-white.png') %>