.sba-c-button-group {
  @include display(flex);
  @include flex-direction(column);
  border-top: 3px solid $color-cool-blue-lightest;
  margin-top: $multiple * 7;
  padding-top: $multiple * 3;

  @include media($width-sm) {
    @include flex-direction(row);
  }

  .sba-c-button {
    margin-bottom: $multiple;
    margin-top: 0;

    @include media($width-sm) {
      margin-left: $multiple;
    }
  }

  button[type="submit"] {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .sba-c-button:first-child {
    @include media($width-sm) {
      margin-left: 0;
    }
  }

  .sba-c-button--transparent,
  .sba-c-button--transparent[type="submit"] {
    @extend .sba-c-button--transparent;
    @include order(3);

    @include media($width-sm) {
      @include order(unset);
    }
  }

  .sba-c-button--inverse[type="submit"] {
    @extend .sba-c-button--inverse;
  }

  .sba-c-button--success[type="submit"] {
    @extend .sba-c-button--success;
  }

  .sba-c-button--danger[type="submit"] {
    @extend .sba-c-button--danger;
  }

  .sba-c-button--big[type="submit"] {
    @extend .sba-c-button--big;
  }
}
