.sba-c-doc-upload-container {
  max-width: 75rem;
}

.sba-c-doc-upload {
  background: white;
  border: 1px solid $color-gray-lighter;
  border-radius: 2px;
  position: relative;
  padding: 1.5em 2.25em;

  &.is-open {
    background: $color-background-primary-muted;
  }
}

.sba-c-doc-upload__primary-heading h3 {
  display: inline;
}

.sba-c-doc-upload__primary-heading p {
  margin: 0;
  padding: 0;
}

.sba-c-doc-upload__toggle {
  position: absolute;
  right: 0;
  top: 2em;
}

.sba-c-doc-upload__content {
  display: none;
  margin-top: 3rem;
}

.sba-c-doc-upload__content.is-visible {
  display: block;
}

.sba-c-doc-upload__content p {
  margin-bottom: .5em;
}

.sba-c-doc-upload__uploader {
  @include display(flex);
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  background: $color-white;
  min-height: 12rem;
  text-align: center;
  border: 1.5px dashed $color-gray;
  position: relative
}

.sba-c-doc-upload__uploader--label {
  display: inline-block;
  cursor: pointer;
  color: $color-primary;
  text-decoration: underline;
  border: none;
  margin: 0;
  padding: 0;
}

.sba-c-doc-upload__uploader--input
 {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  color: transparent;
  margin: 0;
  height: 100%;
  width: 100%;
  text-indent: -1000em;
  max-width: none;
  z-index: -1;
}

.sba-c-doc-upload__uploader--input::-ms-browse {
  display: none;
}

.sba-c-doc-upload__uploader--input::-ms-value {
  display: none;
}

.sba-c-doc-upload__uploader:focus-within {
  box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  outline: 2px dotted #aeb0b5;
  outline-offset: 3px;
}

.sba-c-doc-upload__uploader--input::-moz-focus-inner {
  border: 0;
}

.sba-c-doc-upload--completed {
  border: 1px solid $color-green-light;
  background-color: $color-green-lightest;
}

.sba-c-doc-upload--completed .sba-c-doc-upload__primary-heading svg.sba-c-icon {
  transform: scale(.75);
  fill: $color-green-light;
  margin-left: -25px;
}

.sba-c-doc-upload.sba-c-doc-upload--completed.is-open {
  background-color: $color-green-lightest;
}

.sba-c-doc-upload--custom {
  background-color: $color-background-primary-muted;
}

.sba-c-doc-upload--custom label.sba-c-doc-upload__tab {
  display: inline-block;
  font-weight: 700;
  color: #5b616b;
  border: 1px solid #d6d7d9;
  border-bottom: none;
  background: #d6d7d9;
  padding: 15px;
  margin-bottom: 0;
}

.sba-c-doc-upload--custom input:checked + label {
  color: #212121;
  background-color: #ffffff;
}

.sba-c-doc-upload--custom label.sba-c-doc-upload__tab::before {
  display: none;
}

.sba-c-doc-upload--custom label.sba-c-doc-upload__tab:hover {
  cursor: pointer;
}

.sba-c-doc-upload__document-list .sba-c-field-list {
  max-height: 25rem;
  overflow-y: scroll;
}

.sba-c-doc-upload__document-list .sba-c-field-list li {
  margin-left: 5px;
}

.sba-c-doc-upload__document-list label {
  margin-top: .5rem;
}

.sba-c-doc-upload__document-list p {
  margin: 0;
  padding: 0;
}

.sba-c-doc-upload--custom section {
  background-color: #ffffff;
  display: none;
  margin: -1px 0 5rem 0;
  padding: 2em;
  border: 1px solid #d6d7d9;
}

#new-document:checked ~ #new-document,
#existing-document:checked ~ #existing-document {
  display: block;
}


.sba-c-doc-upload__document-confirm {
  display: none;
}

.sba-c-doc-upload__document-confirm label:first-child {
  margin-top: 0;
}

.sba-c-doc-upload__previously-uploaded input[type="text"] {
  background-color: $color-white;
}
