.sba-c-doc-upload-container {
  max-width: 75rem;
}

.sba-c-doc-upload {
  background: white;
  border: 1px solid $color-gray-lighter;
  border-radius: 2px;
  position: relative;
  padding: 1.5em 2.25em;

  &.open {
    background: #F8FCFF;
  }
}

.sba-c-doc-upload__primary-heading h3 {
  display: inline;
}

.sba-c-doc-upload__primary-heading h3,
.sba-c-doc-upload__primary-heading span {
  display: inline;
}

.sba-c-doc-upload__primary-heading span {
  margin-left: 1rem;
}

.sba-c-doc-upload__primary-heading p {
  margin: 0;
  padding: 0;
}

.sba-c-doc-upload__toggle {
  position: absolute;
  right: 0;
  top: 2em;
}

.sba-c-doc-upload__content {
  display: none;
  margin-top: 3rem;
}

.sba-c-doc-upload__content.visible {
  display: block;
}

.sba-c-doc-upload__content em {
  display: block;
}

.sba-c-doc-upload__content label {
  display: inline-block;
}

.sba-c-doc-upload__content p {
  margin-bottom: .5em;
}

.sba-c-doc-upload__file-input {
  display: flex;
  background: $color-white;
  min-width: 80%;
  min-height: 12rem;
  text-align: center;
  border: 1px dashed $color-gray-lighter;
}

.sba-c-doc-upload__file-input span {
  margin: auto;
}

.sba-c-doc-upload__file-input > span > label {
  cursor: pointer;
  background: transparent;
  color: $color-primary;
  text-decoration: underline;
  border: none;
  margin: 0;
  padding: 0;
}

.sba-c-doc-upload__file-list p {
  margin: 0;
  padding: 0;
}

.sba-c-doc-upload__completed {
  border: 1px solid $color-green-light;
  background-color: $color-green-lightest;
}

.sba-c-doc-upload__completed svg.sba-c-icon {
  transform: scale(.75);
  fill: $color-green-light;
  margin-left: -25px;
}

.sba-c-doc-upload.sba-c-doc-upload__completed.open {
  background-color: $color-green-lightest;
}
