// Unstyled list
.sba-c-unstyled-list {
  list-style: none;
  padding-left: 0;
}

// Timeline
.sba-c-timeline {
  font-size: 1.8rem;
  margin: 0;
}

.sba-c-timeline__header {
  font-size: 2.4rem;
  margin: 0;
}

.sba-c-timeline__list {
  list-style: none;
  padding: 0;
  position: relative;

  &:before {
    bottom: 0;
    background-color: $color-gray-lighter;
    content: "";
    display: block;
    height: 100%;
    left: 1rem;
    margin-top: 2rem;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: 5;
  }
}

.sba-c-timeline__list__item,
.sba-c-timeline__list__item:first-child,
.sba-c-timeline__list__item--current,
.sba-c-timeline__list__item--current:first-child {
  margin: 0;
  padding: 1rem 3rem;
  position: relative;

  &:before {
    background-color: $color-gray;
    border: 4px solid white;
    border-radius: 50%;
    content: "";
    display: block;
    left: .3rem;
    height: 1.7rem;
    position: absolute;
    top: 1.4rem;
    width: 1.7rem;
    z-index: 15;
  }

  > p:first-of-type {
    margin-top: 0;
  }
}


.sba-c-timeline__list__item--current:first-child {
  padding-top: 0;
}

.sba-c-timeline__list__item--current,
.sba-c-timeline__list__item--current:first-child {
  &:before {
    background-color: $color-green;
    height: 2.3rem;
    width: 2.3rem;
    left: 0;
    top: -.1rem;
  }
}

.sba-c-timeline__list__item:last-child:after {
  bottom: 0;
  background-color: white;
  content: "";
  display: block;
  height: 100%;
  left: 1rem;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 10;
}

.sba-c-timeline__timestamp {
  color: $color-gray;
  display: block;
  margin: 0;
}

.sba-c-timeline__list__item--current .sba-c-timeline__timestamp {
  color: $color-green;
  font-weight: bold;
}

// Recommendation lists
.sba-c-recommendation-list-header {
  color: $color-gray;
  font-size: 1.8rem;
  margin: 0 0 1.6rem 0;
}

.sba-c-recommendation-list {
  border-left: 3px solid $color-gray-lighter;
  list-style: none;
  padding: 0;
  margin-bottom: $multiple * 4;
  max-width: 76rem;
}

.sba-c-recommendation-list__item {
  @include display(flex);
  @include align-items(center);
  background-color: $color-gray-lightest;
  border-radius: 4px;
  padding: .75rem $multiple * 2 !important; //important because of awful `.public li:first-child {padding-left: 0;}` selector
  margin: 0 0 2px $multiple * 2;
}

.sba-c-recommendation-list__item--positive {
  background-color: $color-green-lightest;

  .sba-c-icon {
    fill: $color-green;
  }
}

.sba-c-recommendation-list__item--final-positive {
  background-color: $color-green;
  color: white;

  .sba-c-icon {
    fill: white;
  }
}

.sba-c-recommendation-list__item--negative {
  background-color: $color-secondary-lightest;

  .sba-c-icon {
    fill: $color-secondary-darkest;
  }
}

.sba-c-recommendation-list__item--final-negative {
  background-color: $color-secondary-darkest;
  color: white;

  .sba-c-icon {
    fill: white;
  }
}

.sba-c-recommendation-list__item--warn {
  background-color: $color-gold-lightest;

  .sba-c-icon {
    fill: $color-base;
  }
}

.sba-c-recommendation-list__item--final-warn {
  background-color: $color-gold;
  color: $color-base;

  .sba-c-icon {
    fill: $color-base;
  }
}


.sba-c-recommendation-list__icon {
  margin: 2px $multiple * 2 0 0;
}

.sba-c-recommendation-list__content {
  line-height: 1.4;
}

.sba-c-recommendation-list__recommendation {
  font-size: 1.8rem;
  font-weight: $font-bold;
}

.sba-c-recommendation-list__data {
  font-size: 1.4rem;
}
