/* Popup container */
.sba-c-popup {
  border: 1px solid $color-sba-gray;
  border-bottom: none;
  display: none;
  background: white;
  max-height: 85%;
  overflow-y: auto;
}

.sba-c-popup__toggle {
  text-decoration: none;
}

/* The contents of the popup */
.sba-c-popup .sba-c-popup__contents {
  border-bottom: none;
  background: white;
  max-height: 85%;
}

/* Toggle this class - hide and show the popup */
.sba-c-popup.visible {
  display: block;
  position: fixed;
  right: 2%;
  bottom: 0;
  width: 40%;
  z-index: 90000;
  visibility: visible;
}

.sba-c-popup__header {
  color: #fff;
  background: #323a45;
  padding: .5rem 2rem;
  position: sticky;
  z-index: 90001;
  top: 0;
}

.sba-c-popup__header h4 {
  margin: 0;
}

.sba-c-popup__close, .sba-c-popup__close:active, .sba-c-popup__close:hover {
  background-color: transparent;
  background-image: url(../assets/img/white-x.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  text-indent: -999em;
  height: 32px;
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  width: 32px;
  z-index: 900;
}
