.sba-c-progress-indicator {
  position: relative;
  display:block;
  border-radius: 8px;
  background: $color-gray-lighter;
  height: $multiple;
  overflow: hidden;
}

.sba-c-progress-indicator__meter {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: $multiple;
}
