


// These selectors can be deprecated when 8(a) is moved to microservices
.sba-c-question-container {
  padding: $multiple * 10 0;
  border-bottom: 4px solid $color-gray-lighter;

  &:first-of-type {
    border-top: 0;
  }
}

.sba-c-question__primary-text {
  font-size: 2.8rem;
  margin-top: 0;
}

.sba-c-question__support-text {
  color: $color-gray;

  p:first-child {
    margin-top: 0;
  }

  p,
  li {
    margin-bottom: $multiple / 2;
  }
}

.sba-c-response {
  margin-top: $multiple * 4;

  label {
    font-size: 2rem;
    margin-top: 0;
  }
}

.sba-c-response__option-details {
  color: $color-gray;
  font-style: italic;
  padding-left: 3.5rem;
  margin-top: -.8rem;
}
