// Turn off Deprecation warnings from Bourbon
$output-bourbon-deprecation-warnings: false !default;
// require Bourbon 4.3.4 (files installed)
@import "bourbon";

@import "settings/all";

// Vendor CSS, so we can overrides
@import "vendor/jqueryui";

// Let's start testing some of the new V2 components
@import "base/variables";
@import "base/fonts";
@import "utilities/spacing";
@import "utilities/background-color";
@import "utilities/borders";
@import "utilities/color";
@import "utilities/flexbox";
@import "utilities/font-size";
@import "utilities/font-weight";
@import "utilities/inputs";
@import "utilities/layout";
@import "utilities/measure";
@import "utilities/margins";
@import "utilities/padding";
@import "utilities/separators";
@import "utilities/text-alignment";
@import "utilities/visibility";
@import "base/base";
@import "layouts/layout";
@import "components/alerts";
@import "components/badges";
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/combobox";
@import "components/doc-upload";
@import "components/faceting";
@import "components/forms";
@import "components/guidances";
@import "components/icons";
@import "components/lists";
@import "components/masthead";
@import "components/messages";
@import "components/notifications";
@import "components/pagination";
@import "components/questionnaire";
@import "components/spinners";
@import "components/tables";
@import "components/taskbar";
@import "components/task-panels";
@import "components/tooltips";

// Shame
@import "shame/shame";
